.container {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  background-color: #42594c;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-bar ul {
  padding: 0;
  margin-right: 1rem;
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-bar ul li {
  padding-left: 2rem;
}

.nav-bar a {
  font-family: "Lucida Sans";
  text-decoration: none;
  color: #fff;
}
/* time-day */
.time-day {
  display: flex;
}
#curr-day {
  color: #fff;
}
#curr-time {
  color: #fff;
  padding-left: 10px;
}

/* about section */
.about-section {
  margin-top: 5rem;
  margin-bottom: 20px;
}
span {
  font-family: "Lucida Sans Regular";
  font-weight: bold;
  color: #42594c;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}
.info ul li {
  margin-left: 20px;
  list-style: none;
  
}
.info li {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  padding-bottom: 9px;
}
.info img {
display: flex;
border: 2px solid #f27b50;
margin-top: 10px;

}
.info p {
  margin-top: 20px;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: #f27b50;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* goals section */
.goals-section {
  background: #f2bbb6;
  margin-top: 50px;
}
.goals-section h1 {
  font-family: "Lucida Sans";
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}
.goals-section h2 {
  font-family: "Lucida Sans";
  color: #42594c;
  font-weight: bold;
  padding-left: 40px;
  padding-bottom: 20px;
}
.goals-section ul {
  padding-bottom: 20px;
  padding-left: 30px;
  list-style-type: square;
}
.goals-section li {
  padding-bottom: 20px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}
/* links section */
.links-section {
  background: #84d9a2;
  margin-top: 50px;
  width: 100%;
}
.links-section h3 {
  font-family: "Lucida Sans";
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}
.links-section ul {
  padding-bottom: 20px;
  padding-left: 30px;
  list-style-type: square;
}
.links-section li {
  padding-bottom: 20px;
}
.links-section li a {
  text-decoration: none;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}
@media screen and (max-width: 376px) {
  .nav-bar ul li {
    padding-left: 1.5rem;
  }
  .nav-container {
    /* width: 100%; */
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .nav-bar ul li {
    padding-left: 0.5rem;
    font-size: 15px;
  }
  .nav-container {
    /* width: 100%; */
    justify-content: flex-start;
  }
  .about-section {
    margin-top: 5rem;
    margin-bottom: 20px;
  }
 .info{
    display: flex;
    align-items:center;
    width: 100%;
  }
  .info p{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
}
